In [ ]:
import requests
import pandas as pd
import time
from datetime import datetime

In [ ]:
# Insert your API key here
API_KEY = '3ef51a2458cc7304efd8a06699a79475'

In [ ]:

CITIES = [
    {'name': 'Mumbai', 'lat': 19.0760, 'lon': 72.8777},
    {'name': 'Delhi', 'lat': 28.7041, 'lon': 77.1025},
    {'name': 'Bangalore', 'lat': 12.9716, 'lon': 77.5946},
    {'name': 'Hyderabad', 'lat': 17.3850, 'lon': 78.4867},
    {'name': 'Ahmedabad', 'lat': 23.0225, 'lon': 72.5714},
    {'name': 'Chennai', 'lat': 13.0827, 'lon': 80.2707},
    {'name': 'Kolkata', 'lat': 22.5726, 'lon': 88.3639},
    {'name': 'Surat', 'lat': 21.1702, 'lon': 72.8311},
    {'name': 'Pune', 'lat': 18.5204, 'lon': 73.8567},
    {'name': 'Jaipur', 'lat': 26.9124, 'lon': 75.7873},
    {'name': 'Lucknow', 'lat': 26.8467, 'lon': 80.9462},
    {'name': 'Kanpur', 'lat': 26.4499, 'lon': 80.3319},
    {'name': 'Nagpur', 'lat': 21.1458, 'lon': 79.0882},
    {'name': 'Indore', 'lat': 22.7196, 'lon': 75.8577},
    {'name': 'Thane', 'lat': 19.2183, 'lon': 72.9781},
    {'name': 'Bhopal', 'lat': 23.2599, 'lon': 77.4126},
    {'name': 'Visakhapatnam', 'lat': 17.6868, 'lon': 83.2185},
    {'name': 'Pimpri-Chinchwad', 'lat': 18.6298, 'lon': 73.7997},
    {'name': 'Patna', 'lat': 25.5941, 'lon': 85.1376},
    {'name': 'Vadodara', 'lat': 22.3072, 'lon': 73.1812},
    {'name': 'Ghaziabad', 'lat': 28.6692, 'lon': 77.4538},
    {'name': 'Ludhiana', 'lat': 30.9010, 'lon': 75.8573},
    {'name': 'Agra', 'lat': 27.1767, 'lon': 78.0081},
    {'name': 'Nashik', 'lat': 19.9975, 'lon': 73.7898},
    {'name': 'Faridabad', 'lat': 28.4089, 'lon': 77.3178},
    {'name': 'Meerut', 'lat': 28.9845, 'lon': 77.7064},
    {'name': 'Rajkot', 'lat': 22.3039, 'lon': 70.8022},
    {'name': 'Kalyan-Dombivli', 'lat': 19.2403, 'lon': 73.1305},
    {'name': 'Vasai-Virar', 'lat': 19.3919, 'lon': 72.8397},
    {'name': 'Varanasi', 'lat': 25.3176, 'lon': 82.9739},
    {'name': 'Coimbatore', 'lat': 11.0168, 'lon': 76.9558},
    {'name': 'Madurai', 'lat': 9.9252, 'lon': 78.1198},
    {'name': 'Amritsar', 'lat': 31.6340, 'lon': 74.8723},
    {'name': 'Jamshedpur', 'lat': 22.8046, 'lon': 86.2029},
    {'name': 'Allahabad', 'lat': 25.4358, 'lon': 81.8463},
    {'name': 'Ranchi', 'lat': 23.3441, 'lon': 85.3096},
    {'name': 'Haora', 'lat': 22.5896, 'lon': 88.3103},
    {'name': 'Gwalior', 'lat': 26.2183, 'lon': 78.1828},
    {'name': 'Vijayawada', 'lat': 16.5062, 'lon': 80.6480},
    {'name': 'Chandigarh', 'lat': 30.7333, 'lon': 76.7794},
    {'name': 'Guwahati', 'lat': 26.1445, 'lon': 91.7362},
    {'name': 'Solapur', 'lat': 17.6599, 'lon': 75.9064},
    {'name': 'Hubli-Dharwad', 'lat': 15.3647, 'lon': 75.1240},
    {'name': 'Bareilly', 'lat': 28.3670, 'lon': 79.4304},
    {'name': 'Moradabad', 'lat': 28.8252, 'lon': 78.6732},
    {'name': 'Mysuru', 'lat': 12.2958, 'lon': 76.6394},
    {'name': 'Tiruchirappalli', 'lat': 10.7905, 'lon': 78.7047},
    {'name': 'Jalandhar', 'lat': 31.3260, 'lon': 75.5762},
    {'name': 'Bhubaneswar', 'lat': 20.2961, 'lon': 85.8245},
    {'name': 'Salem', 'lat': 11.6643, 'lon': 78.1460}
]

In [ ]:
def to_unix(dtstr):
    return int(time.mktime(datetime.strptime(dtstr, '%d/%m/%Y').timetuple()))

START_DATE = '01/01/2023'
END_DATE = '24/11/2025'
start_unix = to_unix(START_DATE)
end_unix = to_unix(END_DATE)

results = []

for city in CITIES:
    url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat={city['lat']}&lon={city['lon']}&start={start_unix}&end={end_unix}&appid={API_KEY}"
    try:
        r = requests.get(url)
        r.raise_for_status()
        data = r.json()
        for entry in data.get('list', []):
            row = {
                'city': city['name'],
                'date': datetime.utcfromtimestamp(entry.get('dt')).strftime('%Y-%m-%d %H:%M:%S'),
                'aqi': entry['main']['aqi'],
                'co': entry['components'].get('co', None),
                'no': entry['components'].get('no', None),
                'no2': entry['components'].get('no2', None),
                'o3': entry['components'].get('o3', None),
                'so2': entry['components'].get('so2', None),
                'pm2_5': entry['components'].get('pm2_5', None),
                'pm10': entry['components'].get('pm10', None),
                'nh3': entry['components'].get('nh3', None),
                'lat': city['lat'],
                'lon': city['lon']
            }
            results.append(row)
        print(f"Success: {city['name']} - {len(data.get('list', []))} records")
    except Exception as e:
        print(f"Error: {city['name']} - {str(e)}")
        time.sleep(1)


df = pd.DataFrame(results)
df.to_csv('indian_cities_air_quality_full.csv', index=False)
print(f"Saved {len(df)} air quality records for 50 top Indian cities.")

/tmp/ipython-input-646654950.py:20: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  'date': datetime.utcfromtimestamp(entry.get('dt')).strftime('%Y-%m-%d %H:%M:%S'),

Success: Mumbai - 24889 records
Success: Delhi - 24913 records
Success: Bangalore - 24913 records
Success: Hyderabad - 24913 records
Success: Ahmedabad - 24889 records
Success: Chennai - 24913 records
Success: Kolkata - 24889 records
Success: Surat - 24889 records
Success: Pune - 24913 records
Success: Jaipur - 24913 records
Success: Lucknow - 24889 records
Success: Kanpur - 24913 records
Success: Nagpur - 24913 records
Success: Indore - 24913 records
Success: Thane - 24889 records
Success: Bhopal - 24913 records
Success: Visakhapatnam - 24889 records
Success: Pimpri-Chinchwad - 24913 records
Success: Patna - 24889 records
Success: Vadodara - 24889 records
Success: Ghaziabad - 24913 records
Success: Ludhiana - 24913 records
Success: Agra - 24913 records
Success: Nashik - 24913 records
Success: Faridabad - 24913 records
Success: Meerut - 24913 records
Success: Rajkot - 24889 records
Success: Kalyan-Dombivli - 24889 records
Success: Vasai-Virar - 24889 records
Success: Varanasi - 24889 records
Success: Coimbatore - 24913 records
Success: Madurai - 24913 records
Success: Amritsar - 24913 records
Success: Jamshedpur - 24889 records
Success: Allahabad - 24889 records
Success: Ranchi - 24889 records
Success: Haora - 24889 records
Success: Gwalior - 24913 records
Success: Vijayawada - 24889 records
Success: Chandigarh - 24913 records
Success: Guwahati - 24889 records
Success: Solapur - 24913 records
Success: Hubli-Dharwad - 24913 records
Success: Bareilly - 24913 records
Success: Moradabad - 24913 records
Success: Mysuru - 24913 records
Success: Tiruchirappalli - 24913 records
Success: Jalandhar - 24913 records
Success: Bhubaneswar - 24889 records
Success: Salem - 24913 records
Saved 1245170 air quality records for 50 top Indian cities.

In [ ]:
if 'date' in df.columns and not pd.api.types.is_datetime64_any_dtype(df['date']):
    df['date'] = pd.to_datetime(df['date'])
elif 'dt' in df.columns:
    df['date'] = pd.to_datetime(df['dt'], unit='s')

In [ ]:
# Step 3: Extract hour, date, month, and assign Indian season & quarter
df['hour'] = df['date'].dt.hour
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.date  # for daily grouping

def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    elif month in [10, 11]:
        return 'Post-monsoon'
    return 'Unknown'

df['season'] = df['month'].apply(get_season)

def assign_quarter(hour):
    if 0 <= hour < 6:
        return 'Q1'
    elif 6 <= hour < 12:
        return 'Q2'
    elif 12 <= hour < 18:
        return 'Q3'
    else:
        return 'Q4'

df['interval'] = df['hour'].apply(assign_quarter)

# Step 4: Aggregate by city, date, month, season, interval (mean of each value)
agg_dict = {
    'aqi': 'mean',
    'co': 'mean',
    'no': 'mean',
    'no2': 'mean',
    'o3': 'mean',
    'so2': 'mean',
    'pm2_5': 'mean',
    'pm10': 'mean',
    'nh3': 'mean',
    'lat': 'first',
    'lon': 'first'
}

df_agg = df.groupby(['city', 'day', 'month', 'season', 'interval'], as_index=False).agg(agg_dict)
df_agg.rename(columns={'day': 'date'}, inplace=True)

# Step 5: Save to a new compact CSV file
df_agg.to_csv('indian_cities_air_quality_aggregated.csv', index=False)
print(f"Aggregated file saved as 'indian_cities_air_quality_aggregated.csv'")

Aggregated file saved as 'indian_cities_air_quality_aggregated.csv'

In [ ]:
df_agg.to_excel('AQI_50India.xlsx')