### __Descriptive Analysis__

In [2]:
# Visual Python: Data Analysis > Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
# Visual Python: Data Analysis > File
vp_df = pd.read_csv('./BIDM_Dataset.csv')
vp_df.head()

,Unnamed: 0,city,date,Day,Month,Festival,season,interval,aqi,co,...,so2,pm2_5,pm10,nh3,temp_avg,humidity,pressure,wind_speed,cloud_cover,precipitation_mm
0,0,Agra,2023-01-01,Sun,Jan,0,Winter,Q1,5.0,1186.055000,...,7.628333,137.000000,157.860000,6.428333,9.747167,90.378387,1021.866699,5.138171,3.500000,0.0
1,1,Agra,2023-01-01,Sun,Jan,0,Winter,Q2,5.0,983.556667,...,18.536667,115.993333,128.063333,7.420000,18.038832,56.834469,1020.250000,3.774612,0.000000,0.0
2,2,Agra,2023-01-01,Sun,Jan,0,Winter,Q3,5.0,1740.136667,...,26.621667,174.200000,202.561667,30.651667,13.288834,78.100014,1020.950012,6.491616,0.000000,0.0
3,3,Agra,2023-01-01,Sun,Jan,0,Winter,Q4,5.0,1584.368333,...,7.848333,197.413333,224.560000,7.810000,9.347167,92.054596,1020.266663,7.481165,0.000000,0.0
4,4,Agra,2023-01-02,Mon,Jan,0,Winter,Q1,5.0,2116.205000,...,16.571667,286.403333,311.601667,9.818333,10.030500,93.110924,1022.533386,3.871456,59.166668,0.0

In [8]:
# Visual Python: Data Analysis > Frame
#vp_df.drop(['Unnamed: 0'], axis=1, inplace=True)
#vp_df.head()

In [10]:
## Data Information

In [12]:
# Visual Python: Data Analysis > Data Info
vp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208240 entries, 0 to 208239
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   city              208240 non-null  object
 1   date              208240 non-null  object
 2   Day               208240 non-null  object
 3   Month             208240 non-null  object
 4   Festival          208240 non-null  object
 5   season            208240 non-null  object
 6   interval          208240 non-null  object
 7   aqi               208240 non-null  float64
 8   co                208240 non-null  float64
 9   no                208240 non-null  float64
 10  no2               208240 non-null  float64
 11  o3                208240 non-null  float64
 12  so2               208240 non-null  float64
 13  pm2_5             208240 non-null  float64
 14  pm10              208240 non-null  float64
 15  nh3               208240 non-null  float64
 16  temp_avg          208240 non-null  float64
 17  humidity          208240 non-null  float64
 18  pressure          208240 non-null  float64
 19  wind_speed        208240 non-null  float64
 20  cloud_cover       208240 non-null  float64
 21  precipitation_mm  208240 non-null  float64
dtypes: float64(15), object(7)
memory usage: 35.0+ MB

In [15]:
# Visual Python: Data Analysis > Data Info
vp_df.describe()

,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3,temp_avg,humidity,pressure,wind_speed,cloud_cover,precipitation_mm
count,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000,208240.000000
mean,3.336244,789.445819,2.960702,17.570348,62.288693,16.229530,73.169352,90.866925,10.876089,25.909633,66.437611,1008.826013,9.318776,47.852076,0.910292
std,1.394070,867.159328,11.476529,42.502484,54.335252,22.373348,92.886836,110.419952,14.397701,5.962650,22.343090,5.714680,4.671330,40.496698,3.235512
min,1.000000,62.958333,0.000000,-1665.295000,-1664.083333,0.030000,0.500000,-1648.093333,0.000000,2.137833,3.371838,981.700012,0.229508,0.000000,0.000000
25%,2.000000,328.781667,0.020000,5.476667,26.911667,4.076667,17.202917,24.160000,2.431667,22.838999,50.461693,1004.683350,5.949304,3.666667,0.000000
50%,3.333333,537.395000,0.221667,11.425000,50.283667,8.741667,42.987500,59.971667,6.218333,26.403666,71.324291,1009.149963,8.394755,43.333332,0.000000
75%,5.000000,931.261667,1.200000,23.248333,89.333750,18.567083,91.585417,115.166667,13.765000,29.507709,85.051188,1013.200012,11.800894,94.333336,0.200000
max,5.166667,17499.288330,381.468333,319.421667,610.828333,440.595000,1568.670000,1767.366667,267.841667,47.052334,100.000000,1026.166626,44.707226,100.000000,165.000000

In [18]:
## Null Count of variables in the dataset

In [20]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'Null Count': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].isnull().sum(), 'Non-Null Count': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].notnull().sum()})

                  Null Count  Non-Null Count
aqi                        0          208240
co                         0          208240
no                         0          208240
no2                        0          208240
o3                         0          208240
so2                        0          208240
pm2_5                      0          208240
pm10                       0          208240
nh3                        0          208240
temp_avg                   0          208240
humidity                   0          208240
pressure                   0          208240
wind_speed                 0          208240
cloud_cover                0          208240
precipitation_mm           0          208240

In [22]:
## Descriptive Statistics of the dataset

In [24]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'count': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].count(),'min': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].min(numeric_only=True),'max': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].max(numeric_only=True),'sum': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].sum(numeric_only=True),'mean': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].mean(numeric_only=True),'median': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].median(numeric_only=True),'var': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].var(numeric_only=True),'std': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].std(numeric_only=True),'skew': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].skew(numeric_only=True),'kurtosis': vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].kurtosis(numeric_only=True)})

,count,min,max,sum,mean,median,var,std,skew,kurtosis
aqi,208240,1.000000,5.166667,6.947396e+05,3.336244,3.333333,1.943430,1.394070,-0.266904,-1.248033
co,208240,62.958333,17499.288330,1.643942e+08,789.445819,537.395000,751965.299551,867.159328,4.655858,36.833287
no,208240,0.000000,381.468333,6.165367e+05,2.960702,0.221667,131.710717,11.476529,9.193411,120.613904
no2,208240,-1665.295000,319.421667,3.658849e+06,17.570348,11.425000,1806.461180,42.502484,-28.938170,1155.883519
o3,208240,-1664.083333,610.828333,1.297100e+07,62.288693,50.283667,2952.319654,54.335252,-6.456535,225.957279
so2,208240,0.030000,440.595000,3.379637e+06,16.229530,8.741667,500.566713,22.373348,3.713845,21.854619
pm2_5,208240,0.500000,1568.670000,1.523679e+07,73.169352,42.987500,8627.964280,92.886836,3.422237,19.974197
pm10,208240,-1648.093333,1767.366667,1.892213e+07,90.866925,59.971667,12192.565794,110.419952,2.269407,29.371022
nh3,208240,0.000000,267.841667,2.264837e+06,10.876089,6.218333,207.293795,14.397701,3.832317,24.808741
temp_avg,208240,2.137833,47.052334,5.395422e+06,25.909633,26.403666,35.553191,5.962650,-0.429998,0.756186
humidity,208240,3.371838,100.000000,1.383497e+07,66.437611,71.324291,499.213666,22.343090,-0.602133,-0.654621
pressure,208240,981.700012,1026.166626,2.100779e+08,1008.826013,1009.149963,32.657566,5.714680,-0.202573,-0.538712
wind_speed,208240,0.229508,44.707226,1.940542e+06,9.318776,8.394755,21.821325,4.671330,1.067971,1.482831
cloud_cover,208240,0.000000,100.000000,9.964716e+06,47.852076,43.333332,1639.982588,40.496698,0.098963,-1.674124
precipitation_mm,208240,0.000000,165.000000,1.895592e+05,0.910292,0.000000,10.468538,3.235512,8.949468,172.196158

In [26]:
## Correlation for all pollution variables

In [28]:
# Visual Python: Data Analysis > Data Info
_corr = vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3']].corr(numeric_only=True)
_corr.style.background_gradient(cmap='coolwarm')

In [30]:
## Correlation for all weather variables

In [32]:
# Visual Python: Data Analysis > Data Info
_corr = vp_df[['temp_avg','humidity','pressure','wind_speed','cloud_cover','precipitation_mm']].corr(numeric_only=True)
_corr.style.background_gradient(cmap='coolwarm')

In [34]:
## Correlation for temp_average with all pollutants

In [36]:
# Visual Python: Data Analysis > Data Info
_corr = vp_df[['aqi','co','no','no2','o3','so2','pm2_5','pm10','nh3','temp_avg']].corr(numeric_only=True)
_corr.style.background_gradient(cmap='coolwarm')