In [29]:
# Preparing the data by joining the two columns and removing the unnecessary columns

In [8]:
# Visual Python: Data Analysis > Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [15]:
df1 = pd.read_excel('./AQI_50India.xlsx')
df1.head()

,Unnamed: 0,city,date,month,season,interval,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3,lat,lon
0,0,Agra,2023-01-01,1,Winter,Q1,5.0,1186.055000,7.598333,20.305000,8.616667,7.628333,137.000000,157.860000,6.428333,27.1767,78.0081
1,1,Agra,2023-01-01,1,Winter,Q2,5.0,983.556667,2.873333,14.743333,136.256667,18.536667,115.993333,128.063333,7.420000,27.1767,78.0081
2,2,Agra,2023-01-01,1,Winter,Q3,5.0,1740.136667,0.100000,63.633333,44.703333,26.621667,174.200000,202.561667,30.651667,27.1767,78.0081
3,3,Agra,2023-01-01,1,Winter,Q4,5.0,1584.368333,0.603333,43.181667,10.470000,7.848333,197.413333,224.560000,7.810000,27.1767,78.0081
4,4,Agra,2023-01-02,1,Winter,Q1,5.0,2116.205000,21.005000,29.586667,3.893333,16.571667,286.403333,311.601667,9.818333,27.1767,78.0081

In [26]:
df2 = pd.read_excel('./indiancities_weather_q1_q4_openmeteo.xlsx')
df2.head()

,city,date,month,season,interval,lat,lon,temp_avg,feels_like,dew_point,humidity,pressure,surface_pressure,wind_speed,cloud_cover,precipitation_mm,evapotranspiration,vpd
0,Mumbai,2023-01-01,1,Winter,Q1,19.076,72.8777,19.549500,19.840239,14.091166,72.579506,1017.583313,1016.871033,7.189321,93.000000,0.0,0.635448,0.697752
1,Mumbai,2023-01-01,1,Winter,Q2,19.076,72.8777,26.766167,26.633718,14.516167,47.132645,1015.350037,1014.656311,14.880696,84.833336,0.0,2.807416,1.862195
2,Mumbai,2023-01-01,1,Winter,Q3,19.076,72.8777,22.649500,23.131308,17.457834,72.784416,1015.899963,1015.196289,15.050400,13.666667,0.0,0.416171,0.758590
3,Mumbai,2023-01-01,1,Winter,Q4,19.076,72.8777,18.541166,19.630850,16.274500,86.715332,1015.033386,1014.320312,7.441668,0.000000,0.0,0.007455,0.286687
4,Mumbai,2023-01-02,1,Winter,Q1,19.076,72.8777,19.541166,20.151804,15.049500,77.099197,1016.233337,1015.521912,7.408082,0.000000,0.0,0.630037,0.602343

In [31]:
#

In [33]:
df1['date'] = pd.to_datetime(df1['date'])
df2['date'] = pd.to_datetime(df2['date'])

In [37]:
# Merging on city, date, interval
merged_df = pd.merge(
    df1,
    df2,
    on=['city', 'date', 'interval'],
    how='inner'   
)

In [39]:
# Save final merged file
merged_df.to_excel("merged_output.xlsx", index=False)

merged_df.head()

,Unnamed: 0,city,date,month_x,season_x,interval,aqi,co,no,no2,...,feels_like,dew_point,humidity,pressure,surface_pressure,wind_speed,cloud_cover,precipitation_mm,evapotranspiration,vpd
0,0,Agra,2023-01-01,1,Winter,Q1,5.0,1186.055000,7.598333,20.305000,...,8.531428,8.163834,90.378387,1021.866699,1001.140808,5.138171,3.500000,0.0,0.388076,0.137125
1,1,Agra,2023-01-01,1,Winter,Q2,5.0,983.556667,2.873333,14.743333,...,17.431377,9.297168,56.834469,1020.250000,1000.140686,3.774612,0.000000,0.0,1.672890,0.899019
2,2,Agra,2023-01-01,1,Winter,Q3,5.0,1740.136667,0.100000,63.633333,...,12.228742,9.538834,78.100014,1020.950012,1000.497253,6.491616,0.000000,0.0,0.053264,0.336957
3,3,Agra,2023-01-01,1,Winter,Q4,5.0,1584.368333,0.603333,43.181667,...,7.752096,8.047167,92.054596,1020.266663,999.544861,7.481165,0.000000,0.0,0.000000,0.109291
4,4,Agra,2023-01-02,1,Winter,Q1,5.0,2116.205000,21.005000,29.586667,...,9.186620,8.888833,93.110924,1022.533386,1001.814758,3.871456,59.166668,0.0,0.379025,0.103904

In [53]:
## Finding the null values if any

In [51]:
# Visual Python: Data Analysis > Data Info
pd.DataFrame({'Null Count': merged_df.isnull().sum(), 'Non-Null Count': merged_df.notnull().sum()})

                    Null Count  Non-Null Count
Unnamed: 0                   0          208240
city                         0          208240
date                         0          208240
month_x                      0          208240
season_x                     0          208240
interval                     0          208240
aqi                          0          208240
co                           0          208240
no                           0          208240
no2                          0          208240
o3                           0          208240
so2                          0          208240
pm2_5                        0          208240
pm10                         0          208240
nh3                          0          208240
lat_x                        0          208240
lon_x                        0          208240
month_y                      0          208240
season_y                     0          208240
lat_y                        0          208240
lon_y                        0          208240
temp_avg                     0          208240
feels_like                   0          208240
dew_point                    0          208240
humidity                     0          208240
pressure                     0          208240
surface_pressure             0          208240
wind_speed                   0          208240
cloud_cover                  0          208240
precipitation_mm             0          208240
evapotranspiration           0          208240
vpd                          0          208240

In [71]:
merged_df.to_excel('BIDM_Dataset.xlsx')

> There are few repeated columns in the dataset and some columns which are unnecessary. We will remove them manually in excel after downloading.